table {
margin: auto; 
background: black; 
}
td {
line-height: 0; 
width: 40px; height: 40px; 
background:white; 
text-align: center; 
vertical-align: middle; 
font-size: 20px;
}

.blancas{
display: inline-block; 
width: 90%; 
height: 90%; 
background:blue;
}

.negras {
display: inline-block; 
width: 90%; 
height: 90%; 
background:white;
}
#msg{
color: red;
}